/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #12d362;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0.5em 0;
}

section {
    padding: 1em 2em;
    background: white;
    margin: 1em auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #c4e00f;
    padding-bottom: 0.5em;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
